body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

.loader{
  height: 10px;
  background-color: #000;
  position: absolute;
}

.content{
  text-align: center;
  height: 100vh;
  width: 100%;
  background: #fff;
  display: none;
}
