<form id="msform" method="post" action="/predict">

    <h3 for="q1">What is your paid</h3>
    <input id="q1" name="q1" type="text" placeholder="student name">

    <h3 for="q2">What is your internet</h3>
    <input id="q2" name="q2" type="text" placeholder="student name">

    <h3 for="q3">What is your address</h3>
    <input id="q3" name="q3" type="text" placeholder="student name">

    <h3 for="q4">What is your studytime</h3>
    <input id="q4" name="q4" type="text" placeholder="student name">

    <h3 for="q5">What is your traveltime</h3>
    <input id="q5" name="q5" type="text" placeholder="student name">

    <h3 for="q6">What is your walc</h3>
    <input id="q6" name="q6" type="text" placeholder="student name">

    <h3 for="q7">What is your health</h3>
    <input id="q7" name="q7" type="text" placeholder="student name">

    <h3 for="q8">What is your average</h3>
    <input id="q8" name="q8" type="text" placeholder="student name">

    <input type="submit" name="submit"  value="Submit" />

</form>